export(fit_ipd)
export(reproduce_sim2_benchmark)
S3method(print, bayesmeta_ipd)
importFrom(MCMCpack, riwish)
importFrom(mvtnorm, dmvnorm)
importFrom(mvtnorm, rmvnorm)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(utils, data)
